ssl/*
.bundler
.puppetfile
.librarian
.tmp
vendor/bundle
environments/*
.bundle
.r10k.conf.swp
graphs
shared
*.rpmnew
current_environment
current_role
mounts/*
hieradata/workroom.yaml
hieradata/answers.yaml
hieradata/workroom.json
bin/*
artifacts/*
.vagrant/*
src/*

# Puppet modules
modules/apt
modules/common
modules/concat
modules/docker
modules/epel
modules/gcc
modules/git
modules/httpauth
modules/hubot
modules/inifile
modules/mongodb
modules/mysql
modules/nginx
modules/nodejs
modules/nsswitch
modules/ntp
modules/openssl
modules/packer
modules/pam
modules/postgresql
modules/python
modules/rabbitmq
modules/ruby
modules/screen
modules/st2
modules/staging
modules/stdlib
modules/sudo
modules/supervisord
modules/sys
modules/tiller
modules/uwsgi
modules/vcsrepo
modules/wget
packer/output*
