ssl/*
.bundler
.puppetfile
vendor/bundle
environments/*
.bundle
.r10k.conf.swp
graphs
shared
*.rpmnew
current_environment
current_role
mounts/*
hieradata/workroom.yaml
hieradata/workroom.json
bin/*
artifacts/*
.vagrant/*
src/*
